@import '../../../../assets/sass/config';
$primaryColor: #e44868;

.new-appointment-save {
    height: 35px;
    margin: auto auto auto -10px;
    background-color: $primaryColor;
    color: kt-brand-color(inverse);
    
  }
  .new-appointment-save:hover{
    background-color: darken($primaryColor, (20%));
  }

  .new-appointment {
    height: 35px;
    display: block;
    background-color: $primaryColor;
    color: kt-brand-color(inverse);
    
  }
  // .select-input{
  //   padding: 0.65rem 1rem;
  // }

  .time-error{
    color: #e44868;
  }
.appointment-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  .filter-input{
    padding: 10px;
    border: 1px solid #ddd;
    margin: 15px 0px;
    border-radius: 5px;
    color: black;
  }

  .close-icon{
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 14px;
    cursor: pointer!important;
  }