<kt-portlet>
    <kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
        <ng-container ktPortletTools>
            <a class="btn btn-secondary kt-margin-r-10" mat-raised-button (click)="back()"
                matTooltip="">
                <i class="la la-arrow-left"></i>
                <span class="kt-hidden-mobile">Back</span>
            </a>

            <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary"  [disabled]="participantForm.invalid" (click)="onSubmit(false)"
                mat-raised-button matTooltip="Save">
                <i class="la la-save"></i>
                <span class="kt-hidden-mobile">Save</span>
            </a>
        </ng-container>
    </kt-portlet-header>

    <kt-portlet-body>
        <mat-tab-group [(selectedIndex)]="selectedTab">
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="mat-tab-label-icon flaticon-user"></i>
                    Client Basic Details
                </ng-template>
                <ng-template matTabContent>
                    <!-- Begin Form -->
                    <div>
                        <form [formGroup]="participantForm" class="kt-form kt-form--group-separator-dashed">
                            <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="3000" [showCloseButton]="true"
                            (close)="onAlertClose($event)">
                            Oh snap! Change a few things up and try submitting again. <br>
                            {{message}}
                        </kt-alert>
                            <div class="kt-form__section kt-form__section--first">
                                <div class="form-group kt-form__group row">
                                    <!-- First Name -->
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="First Name" formControlName="firstName"
                                                required />
                                            <mat-error>First name is <strong>required</strong></mat-error>
                                            <mat-hint align="start">Please enter <strong>first name</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <!-- Last Name -->
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Last Name" formControlName="lastName"
                                                required />
                                            <mat-error>Last name is <strong>required</strong></mat-error>
                                            <mat-hint align="start">Please enter <strong>last name</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>

                                    <!-- Preferred Name -->
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Preferred Name"
                                                formControlName="preferredName" />
                                            <mat-hint align="start">Please enter <strong>preferred name</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>

                                </div>

                                <div class="form-group kt-form__group row">
                                    <!-- NDIS Number -->
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="NDIS Number" formControlName="ndisNumber"
                                                required />
                                            <mat-error>NDIS number is <strong>required</strong></mat-error>
                                            <mat-hint align="start">Please enter <strong>NDIS Number</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <!-- Email -->
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input type="email" matInput placeholder="Email"
                                                formControlName="email" required />
                                            <mat-error>Email is <strong>required</strong></mat-error>
                                            <mat-hint align="start">Please enter <strong>preferred email</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>

                                    <!-- Gender -->
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-label>Select your gender</mat-label>
                                            <mat-select formControlName="gender" required>
                                                <mat-option [value]="1">Male</mat-option>
                                                <mat-option [value]="2">Female</mat-option>
                                                <mat-option [value]="3">Unspecified</mat-option>
                                            </mat-select>
                                            <mat-error>Gender is <strong>required</strong></mat-error>
                                            <mat-hint align="start">Please enter <strong>gender</strong></mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="form-group kt-form__group row">

                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Language Spoken"
                                                formControlName="languageSpoken" required />
                                            <mat-error>Language is <strong>required</strong></mat-error>
                                            <mat-hint align="start">Please enter <strong>language</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>

                                    <!-- Date of Birth -->
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput [matDatepicker]="picker" (click)="picker.open()"
                                                placeholder="Select your Date Of Birth" formControlName="dateOfBirth"
                                                required>
                                            <mat-datepicker-toggle matSuffix [for]="picker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                            <mat-error>DOB is <strong>required</strong></mat-error>
                                            <mat-hint align="start">Please enter your <strong>date of
                                                    birth.</strong></mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    <!-- End Step 1 -->
                </ng-template>
            </mat-tab>

            <!-- Participant Address -->
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="mat-tab-label-icon flaticon-placeholder"></i>
                    Address Details
                </ng-template>
                <ng-template matTabContent>
                    <form [formGroup]="participantForm" class="kt-form kt-form--group-separator-dashed" >
                            <div class="kt-form__section kt-form__section--first"  formGroupName = "clientAddress">
                                <div class="form-group kt-form__group row">
                        
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input  matInput placeholder = "Search address" [options]="options"  ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" formControlName = "address"/>
                                            <mat-icon matSuffix>map</mat-icon>
                                            <mat-hint align="start">Please enter <strong>your address</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                        
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Enter your Unit"
                                                formControlName="unit"/>
                                            <mat-error>Unit is <strong>required</strong></mat-error>
                                            <mat-hint align="start">Please enter <strong>your Unit</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                        
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Enter your Street Number"
                                                formControlName="streetNumber" required/>
                                            <mat-error>Street Number <strong>required</strong></mat-error>
                                            <mat-hint align="start">Please enter <strong>your street number</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>           
                                </div>
                            
                                <div class="form-group kt-form__group row">
                        
                        
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Enter your streetname"
                                                formControlName="streetName" required/>
                                            <mat-error>Street Name <strong>required</strong></mat-error>
                                            <mat-hint align="start">Please enter <strong>your street name</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                        
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Enter your city"
                                                formControlName="city" required/>
                                            <mat-error>City <strong>required</strong></mat-error>
                                            <mat-hint align="start">Please enter <strong>your city</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                        
                                   
                                     <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Enter your state" formControlName="state" required />
                                            <mat-error>State is <strong>required</strong></mat-error>
                                            <mat-hint align="start">Please enter <strong>state</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                        
                                   
                                </div>
                                <div class="form-group kt-form__group row">
                        
                                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <input matInput placeholder="Enter your postcode"
                                            formControlName="postalCode" required/>
                                        <mat-error>Post Code <strong>required</strong></mat-error>
                                        <mat-hint align="start">Please enter <strong>your postcode</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                                </div>
                            </div>

                        
                    </form>
                </ng-template>
            </mat-tab>

            <!-- Participant Specifics -->
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="mat-tab-label-icon flaticon-notes"></i>
                    Custodian Details
                </ng-template>
                <ng-template matTabContent>
                    <form [formGroup]="participantForm" class="kt-form kt-form--group-separator-dashed">
                        <div>
                            <div formGroupName = "primaryCustodians">
                                <div class="form-group kt-form__group row">
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-label>Primary Carer's First Name</mat-label>
                                            <input matInput placeholder="Primary Carer's First Name"
                                                formControlName="FirstName" />
                                            <mat-hint align="start">Please enter <strong>Carer's First Name</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-label>Primary Carer's Last Name</mat-label>
                                            <input matInput placeholder="Primary Carer's Last Name"
                                                formControlName="LastName" />
                                            <mat-hint align="start">Please enter <strong>Primary Carer's Last
                                                    Name</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-label>Primary Carer's Email</mat-label>
                                            <input matInput placeholder="Primary Carer's Email" type="email"
                                                formControlName="email" />
                                            <!-- <mat-error>Primary Carer's Email is <strong>required</strong></mat-error> -->
                                            <mat-hint align="start">Please enter <strong>Primary Carer's Email</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="form-group kt-form__group row">

                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-label>Primary Carer's Phone Number</mat-label>
                                            <input matInput placeholder="Primary Carer's phone number"   formControlName="contact"/>
                                            <!-- <mat-error>Primary Carer's Email is <strong>required</strong></mat-error> -->
                                            <mat-hint align="start">Please enter <strong>Primary Carer's Phone
                                                    number</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-label>Relation to Primary Participant</mat-label>
                                            <select matNativeControl formControlName="relation">
                                                <option value="">Select</option>
                                                <option value="spouse">Spouse</option>
                                                <option value="mother">Mother</option>
                                                <option value="father">Father</option>
                                                <option value="sibling">Sibling</option>
                                                <option value="other">Other</option>
                                            </select>
                                            <mat-hint align="start">Please enter <strong>Primary Carer's relation to
                                                    Participant</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>

                  
                                </div>

                                    <!-- <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-label>Primary Carer's Preferred Method of Contact</mat-label>
                                            <select matNativeControl formControlName="contact">
                                                <option value="">Select</option>
                                                <option value="email">Email</option>
                                                <option value="phone">Phone</option>
                                            </select>
                                            <mat-hint align="start">Please enter <strong>Primary Carer's Preferred
                                                    Method of Contact</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div> -->
                            </div>
                                 <div class="form-group kt-form__group row">
                                    <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-label>Select Secondary Carer if any ?</mat-label>
                                            <mat-select formControlName="hasSecondaryCarer"
                                                (selectionChange)="secondaryCarerSelected($event.value)">
                                                <mat-option [value]="true">Yes</mat-option>
                                                <mat-option [value]="false">No</mat-option>
                                            </mat-select>
                                            <mat-hint align="start">Select <strong>Secondary Carer</strong></mat-hint>
                                        </mat-form-field>
                                    </div>
                                     </div>

                            <div *ngIf="hasSecondaryCarer">
                                <div class="additional-form-group" formArrayName="secondaryCustodians"
                                    *ngFor="let custodian of participantForm.get('secondaryCustodians').controls; let i = index;">
                                    <div [formGroupName]="0">
                                        <div class="additional-form-header"> Secondary Carer's Information</div>
                                        <div class="form-group kt-form__group row">
                                            <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                                <mat-form-field class="mat-form-field-fluid">
                                                    <mat-label>Secondary Carer's First Name</mat-label>
                                                    <input matInput placeholder="Carer's First Name"
                                                        formControlName="FirstName" />
                                                    <mat-hint align="start">Please enter <strong>Secondary Carer's First
                                                            Name</strong>
                                                    </mat-hint>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                                <mat-form-field class="mat-form-field-fluid">
                                                    <mat-label>Secondary Carer's Last Name</mat-label>
                                                    <input matInput placeholder="Carer's Last Name"
                                                        formControlName="LastName" />
                                                    <mat-hint align="start">Please enter <strong>Secondary Carer's Last
                                                            Name</strong>
                                                    </mat-hint>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                                <mat-form-field class="mat-form-field-fluid">
                                                    <mat-label>Secondary Carer's Email</mat-label>
                                                    <input matInput placeholder="Secondary Carer's Email" type="email"
                                                        formControlName="email" />
                                                    <!-- <mat-error>Secondary Carer's Email is <strong>required</strong></mat-error> -->
                                                    <mat-hint align="start">Please enter <strong>Secondary Carer's
                                                            Email</strong>
                                                    </mat-hint>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="form-group kt-form__group row">
                                            <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                                <mat-form-field class="mat-form-field-fluid">
                                                    <mat-label>Secondary Carer's Phone Number</mat-label>
                                                    <input matInput placeholder="Secondary Carer's phone number"  formControlName="contact" />
                                                    <!-- <mat-error>Primary Carer's Email is <strong>required</strong></mat-error> -->
                                                    <mat-hint align="start">Please enter <strong>Secondary Carer's Phone
                                                            number</strong>
                                                    </mat-hint>
                                                </mat-form-field>
                                            </div>


                                            <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                                <mat-form-field class="mat-form-field-fluid">
                                                    <mat-label>Secondary Carer's Relation to Participant</mat-label>
                                                    <select matNativeControl  formControlName="relation">
                                                        <option value="">Select</option>
                                                        <option value="spouse">Spouse</option>
                                                        <option value="mother">Mother</option>
                                                        <option value="father">Father</option>
                                                        <option value="sibling">Sibling</option>
                                                        <option value="other">Other</option>
                                                    </select>
                                                    <mat-hint align="start">Please enter <strong>Secondary Carer's
                                                            relation to Participant</strong>
                                                    </mat-hint>
                                                </mat-form-field>
                                            </div>

                                            <!-- <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                                <mat-form-field class="mat-form-field-fluid">
                                                    <mat-label>Secondary Carer's Preferred Method of Contact</mat-label>
                                                    <select matNativeControl formControlName="contact">
                                                        <option value="">Select</option>
                                                        <option value="email">Email</option>
                                                        <option value="phone">Phone</option>
                                                    </select>
                                                    <mat-hint align="start">Please enter <strong>Secondary Carer's
                                                            Preferred ofContact</strong>
                                                    </mat-hint>
                                                </mat-form-field>
                                            </div> -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </ng-template>
            </mat-tab>

            <!-- School Details -->
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="mat-tab-label-icon flaticon-speech-bubble-1"></i>
                    School Details
                </ng-template>
                <ng-template matTabContent>
                    <form [formGroup]="participantForm" class="kt-form kt-form--group-separator-dashed">
                        <div class="form-group kt-form__group row">
                            <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid">
                                    <mat-label>School Name</mat-label>
                                    <input matInput placeholder="School's Name" formControlName="schoolName" />
                                    <mat-hint align="start">Please enter <strong>School's Name</strong>
                                    </mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-4 kt-margin-bottom-20-mobile" formGroupName = "schoolAddress">
                                <mat-form-field class="mat-form-field-fluid">
                                    <mat-label>School Address</mat-label>
                                    <input  matInput placeholder = "School's Address" [options]="options"  ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="handleSchoolAddressChange($event)" formControlName = "address"/>
                                    <!-- <input matInput placeholder="School's Address" formControlName="address" /> -->
                                    <mat-hint align="start">Please enter <strong>School Address</strong>
                                    </mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input type="email" matInput placeholder="School email"
                                        formControlName="schoolEmail" />
                                    <mat-hint align="start">Please enter <strong>school's email</strong>
                                    </mat-hint>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="form-group kt-form__group row">

                            <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid">
                                    <mat-label>School Primary Contact</mat-label>
                                    <input matInput placeholder="School's Primaty Contact"
                                        formControlName="schoolPrimaryContact" />
                                    <mat-hint align="start">Please enter <strong>School's Primary Contact</strong>
                                    </mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid">
                                    <mat-label>School Contact Number</mat-label>
                                    <input matInput placeholder="School's Contact Number"
                                        formControlName="schoolContactNumber" />
                                    <mat-hint align="start">Please enter <strong>School Contact Number</strong>
                                    </mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid">
                                    <mat-label>School's Teacher Name</mat-label>
                                    <input matInput placeholder="School's Teacher Name"
                                        formControlName="schoolTeacherName" />
                                    <mat-hint align="start">Please enter <strong>School Teacher Name</strong>
                                    </mat-hint>
                                </mat-form-field>
                            </div>

                          
                        </div>
                        <div class="form-group kt-form__group row">

                            <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input matInput type="email" placeholder="School Teacher email"
                                        formControlName="schoolTeacherEmail" />
                                    <mat-hint align="start">Please enter <strong>teacher email</strong>
                                    </mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </ng-template>
            </mat-tab>

             <!-- Billing Details -->
             <mat-tab>
                <ng-template mat-tab-label>
                    <i class="mat-tab-label-icon flaticon-speech-bubble-1"></i>
                    Billing Details
                </ng-template>
                <ng-template matTabContent>
                    <form [formGroup]="participantForm" class="kt-form kt-form--group-separator-dashed">
                        <div class="form-group kt-form__group row" formGroupName = "billingDetails">
                            <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid">
                                    <mat-label>Account Number</mat-label>
                                    <input matInput placeholder="Account Number" formControlName="accountNumber" />
                                    <mat-hint align="start">Please enter <strong>Account Number</strong>
                                    </mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input type="Email" matInput placeholder="Email"
                                        formControlName="email" />
                                    <mat-hint align="start">Please enter <strong>Email</strong>
                                    </mat-hint>
                                </mat-form-field>
                            </div>
<!-- 
                            <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid">
                                    <mat-label>Billing Type</mat-label>
                                    <input matInput placeholder="Billing Type"
                                        formControlName="schoolPrimaryContact" />
                                    <mat-hint align="start">Please enter <strong>Billing Type</strong>
                                    </mat-hint>
                                </mat-form-field>
                            </div> -->

 
                            <ng-container formGroupName = "address">
                                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <input  matInput placeholder = "Search address" [options]="options"  ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="handleBillingAddressChange($event)" formControlName = "observations"/>
                                        <mat-icon matSuffix>map</mat-icon>
                                        <mat-hint align="start">Please enter <strong>your address</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                    
                                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <input matInput placeholder="Enter your Unit"
                                            formControlName="unit"/>
                                        <!-- <mat-error>Unit is <strong>required</strong></mat-error> -->
                                        <mat-hint align="start">Please enter <strong>your Unit</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                    
                                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <input matInput placeholder="Enter your Street Number"
                                            formControlName="streetNumber"/>
                                        <!-- <mat-error>Street Number <strong>required</strong></mat-error> -->
                                        <mat-hint align="start">Please enter <strong>your street number</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>    
                                
                    
                                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <input matInput placeholder="Enter your streetname"
                                            formControlName="streetName"/>
                                        <!-- <mat-error>Street Name <strong>required</strong></mat-error> -->
                                        <mat-hint align="start">Please enter <strong>your street name</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                    
                                <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <input matInput placeholder="Enter your city"
                                            formControlName="city"/>
                                        <!-- <mat-error>City <strong>required</strong></mat-error> -->
                                        <mat-hint align="start">Please enter <strong>your city</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                    
                               
                                 <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                    <mat-form-field class="mat-form-field-fluid">
                                        <input matInput placeholder="Enter your state" formControlName="state" />
                                        <!-- <mat-error>State is <strong>required</strong></mat-error> -->
                                        <mat-hint align="start">Please enter <strong>state</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                    
                            <div class="col-lg-4 kt-margin-bottom-20-mobile">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input matInput placeholder="Enter your postcode"
                                        formControlName="postalCode"/>
                                    <!-- <mat-error>Post Code <strong>required</strong></mat-error> -->
                                    <mat-hint align="start">Please enter <strong>your postcode</strong>
                                    </mat-hint>
                                </mat-form-field>
                            </div>
                        </ng-container>
                            
                        </div>

                        <!-- <div class="form-group kt-form__group row">

                          
                        </div> -->
                    </form>
                </ng-template>
            </mat-tab>
        </mat-tab-group>

        <div class="col-md-12">
            <a href="javascript:;" (click)="nextStep()" *ngIf="selectedTab < 4" class="btn kt-margin-r-10 pull-right" color="primary" mat-raised-button matTooltip="Next">
                <span class="kt-hidden-mobile">Next</span>
                <i class="la la-arrow-right"></i>
            </a>
        </div>
    </kt-portlet-body>

</kt-portlet>
