@import "sass/pages/wizard/wizard-2";
@import "sass/pages/wizard/wizard-3";

.mat-form-field {
  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
  .mat-form-field-underline {
    bottom: 0 !important;
  }
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #e44868 !important;
}

.additional-form-group{
  border: 1px solid gainsboro;
  border-radius: 3px;
  padding:0px 25px 15px;
  margin-top: 15px;
}
.additional-form-header{
 font-weight: 400;
 font-size: 1.15rem;
 padding:15px 0px 0px;

}