<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">{{getTitle()}}</h3>
		</div>
	</div>
	<form class="kt-form" [formGroup]="assessmentForm">
		<div class="kt-portlet__body">

			<kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true"
				(close)="onAlertClose($event)">
				Oh snap! Change a few things up and try submitting again.
			</kt-alert>

			<div class="row">
				<!-- Assessment Date -->
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input (click)="picker.open()" matInput [matDatepicker]="picker"
							placeholder="Choose assessment date" formControlName="assessmentDate">
						<mat-datepicker-toggle matSuffix [for]="picker">
						</mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
						<mat-hint align="start">Please choose <strong>Assessment Date </strong>
						</mat-hint>
					</mat-form-field>
				</div>

				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input matInput placeholder="Enter Title" formControlName="title" />
						<mat-error>Title is
							<strong>required</strong>
						</mat-error>
						<mat-hint align="start">Please enter
							<strong>Title</strong>
						</mat-hint>
					</mat-form-field>
				</div>

				<!-- Assessor -->
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input matInput placeholder="Enter Assessor" formControlName="assessor" />
						<mat-error>Assessor is
							<strong>required</strong>
						</mat-error>
						<mat-hint align="start">Please enter
							<strong>Assessor</strong>
						</mat-hint>
					</mat-form-field>
				</div>


			</div>

			<div class="kt-separator kt-separator--dashed"></div>

			<div class="form-group kt-form__group row">
				
				<!-- Assessment Date -->
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input (click)="validDate.open()" matInput [matDatepicker]="validDate"
							placeholder="Choose valid from date" formControlName="validFromDate">
						<mat-datepicker-toggle matSuffix [for]="validDate">
						</mat-datepicker-toggle>
						<mat-datepicker #validDate></mat-datepicker>
						<mat-hint align="start">Please choose <strong>valid from Date </strong>
						</mat-hint>
					</mat-form-field>
				</div>

				<!-- Valid to Date -->
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input (click)="validTo.open()" matInput [matDatepicker]="validTo"
							placeholder="Choose valid to date" formControlName="validToDate">
						<mat-datepicker-toggle matSuffix [for]="validTo">
						</mat-datepicker-toggle>
						<mat-datepicker #validTo></mat-datepicker>
						<mat-hint align="start">Please choose <strong>valid to Date </strong>
						</mat-hint>
					</mat-form-field>
				</div>

								
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<textarea matInput placeholder="Enter Note" formControlName="notes"></textarea>
						<mat-error>Note is
							<strong>required</strong>
						</mat-error>
						<mat-hint align="start">Please enter
							<strong>Note</strong>
						</mat-hint>
					</mat-form-field>
				</div>
			</div>

			<div class="kt-separator kt-separator--dashed"></div>

			<div class="row">
				<div class="col-md-12">
					<h3>Upload files</h3>
					<!-- Multiple -->
					<input type="file" ng2FileSelect [uploader]="uploader" multiple multiple class="form-control">
				</div>
				
				<div class="col-md-12">
					<table class="table mt-2">
						<thead class="thead-light">
						<tr>
							<th width="50%">Title</th>
							<th>Size</th>
							<th>Status</th>
							<th>Actions</th>
						</tr>
						</thead>
						<tbody>
						<tr *ngFor="let item of uploader.queue">
							<td>
								<strong>{{ item?.file?.name }}</strong>
							</td>
							<td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
							<td>
								local
							</td>
							<td nowrap>

								<button mat-icon-button color="primary" matTooltip="Cancel file" (click)="item.cancel()" [disabled]="!item.isUploading">
									<mat-icon>cancel</mat-icon>
								</button>&nbsp;

								<button mat-icon-button color="primary" matTooltip="Delete file" (click)="item.remove()">
									<mat-icon>delete</mat-icon>
								</button>

							</td>
						</tr>
						</tbody>
					</table>
		 
					<div>
						<button class="btn btn-primary kt-margin-r-10" color="primary" mat-raised-button matTooltip="" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
							<span class="kt-hidden-mobile"><i class="la la-cancel"></i> Cancel all</span>
						</button>
			
						<button class="btn btn-secondry kt-margin-r-10" color="primary" mat-raised-button matTooltip="" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
							<i class="la la-trash"></i><span class="kt-hidden-mobile">Remove all</span>
						</button> 
					</div>
		 
				</div>
			</div>
		</div>

		<div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
			<div class="kt-form__actions kt-form__actions--solid">
				<div class="row text-right">
					<div class="col-lg-12">
						<button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial
							matTooltip="Cancel changes">
							Cancel
						</button>&nbsp;
						<button type="button" mat-raised-button color="primary" (click)="onSubmit()"
							[disabled]="assessmentForm.invalid" matTooltip="Save changes">
							Save
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>