<div class="row">
	<div class="col-6">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'Order Statistics'">
				<!-- <ng-container ktPortletTools>
						<kt-context-menu2></kt-context-menu2>
					</ng-container> -->
			</kt-portlet-header>
			<kt-portlet-body>
				<kt-WidgetParticipant></kt-WidgetParticipant>
			</kt-portlet-body>
		</kt-portlet>
	</div>

	<div class="col-6">

		<kt-portlet [class]="'kt-portlet--tabs'">
			<kt-portlet-body>
		
				<div class="row text-center">
					<div class="col-md-4">
						<div class="btn-group">
							<div class="btn btn-sm btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
								(viewDateChange)="closeOpenMonthViewDay()">
								Previous
							</div>
							<div class="btn btn-sm btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
								Today
							</div>
							<div class="btn btn-sm btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
								(viewDateChange)="closeOpenMonthViewDay()">
								Next
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<h5 >{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h5>
					</div>
					<div class="col-md-4">
						<div class="btn-group">
							<div class="btn btn-sm btn-primary" (click)="setView(CalendarView.Month)"
								[class.active]="view === CalendarView.Month">
								Month
							</div>
							<div class="btn btn-sm btn-primary" (click)="setView(CalendarView.Week)"
								[class.active]="view === CalendarView.Week">
								Week
							</div>
							<div class="btn btn-sm btn-primary" (click)="setView(CalendarView.Day)"
								[class.active]="view === CalendarView.Day">
								Day
							</div>
						</div>
					</div>
				</div>
				<br />
				<div [ngSwitch]="view">
					<mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
						[refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
						(eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
					</mwl-calendar-month-view>
					<mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
						[refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
						(eventTimesChanged)="eventTimesChanged($event)" [dayStartHour]="6" [dayEndHour]="19">
					</mwl-calendar-week-view>
					<mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
						[refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
						(eventTimesChanged)="eventTimesChanged($event)" [dayStartHour]="6" [dayEndHour]="19">
					</mwl-calendar-day-view>
				</div>
			</kt-portlet-body>
		</kt-portlet>

	</div>
</div>
