@model Caretaskr.Common.ViewModel.ForgotPasswordNotificationViewModel

Hi @Model.FullName<h2 style="Margin-top: 0;color: black;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 25px">
</h2>
<h2 style="margin-top: 0; color: black; font-family: Georgia, serif; font-size: 16px; line-height: 25px; Margin-bottom: 24px">
 
</h2>
<p style="margin-top: 0;color: black;font-family: Georgia,serif;font-size: 15px;line-height: 25px;Margin-bottom: 25px">
    A request has been received to change the password for your Caretaskr account. Please set your password by clicking <a href="@Model.CallbackUrl">here</a>
</p>
