@model Caretaskr.Common.ViewModel.PatientRegistrationViewModel
Welcome to Caretaskr! <br/>


Hi @Model.FullName,<h2 style="margin-top: 0;color: black;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 25px">
</h2>
<h2 style="margin-top: 0; color: black; font-family: Georgia, serif; font-size: 16px; line-height: 25px; Margin-bottom: 24px">
</h2>
<p style="margin-top: 0;color: black;font-family: Georgia,serif;font-size: 15px;line-height: 25px;Margin-bottom: 25px">
    Here is your random password <strong> @Model.Password</strong>
</p>

<p style="margin-top: 0;color: black;font-family: Georgia,serif;font-size: 15px;line-height: 25px;Margin-bottom: 25px">
    Please Confirm your account by clicking <a href="@Model.CallBackUrl">here</a>
</p>

<p style="margin-top: 0;color: black;font-family: Georgia,serif;font-size: 15px;line-height: 25px;Margin-bottom: 25px">
    Thank You

</p>


