@model Caretaskr.Common.ViewModel.ResetPasswordConfirmationNotificationViewModel

Hi @Model.FullName<h2 style="Margin-top: 0;color: black;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 25px">
</h2>
<h2 style="Margin-top: 0; color: black; font-family: Georgia, serif; font-size: 16px; line-height: 25px; Margin-bottom: 24px">
</h2>
<p style="Margin-top: 0;color: black;font-family: Georgia,serif;font-size: 15px;line-height: 25px;Margin-bottom: 25px">
    Your password has been changed successfully.
</p>