<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress' : viewLoading, 'kt-portlet--body-progress-overlay' : loadingAfterSubmit }">
    <div class="kt-portlet__head kt-portlet__head__custom">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">{{getTitle()}}</h3>
        </div>
    </div>
    <div>
        <div class="kt-form" *ngIf="user">
                <div class="form-group kt-form__group row">
                               	<!-- General Information Card -->
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-12 profile-info-detail">
										<mat-list>
											<mat-list-item>
												<div class="col-md-5 profile-info">
													First Name
												</div>
												<div class="col-md-7">
													{{user.firstName}} 
												</div>
											</mat-list-item>
											<mat-divider></mat-divider>
											<mat-list-item>
												<div class="col-md-5 profile-info">
													Last Name
												</div>
												<div class="col-md-7">
													{{user.lastName}} 
												</div>
											</mat-list-item>
											<mat-divider></mat-divider>
											<mat-list-item>
												<div class="col-md-5 profile-info">
													Email
												</div>
												<div class="col-md-7">
													{{user.email}} 
												</div>
											</mat-list-item>
											<mat-divider></mat-divider>
											<mat-list-item>
												<div class="col-md-5 profile-info">
													Occupation
												</div>
												<div class="col-md-7">
													{{user.Occupation}}
												</div>
											</mat-list-item>
											<mat-divider></mat-divider>
											<mat-list-item>
												<div class="col-md-5 profile-info">
													Team Name
												</div>
												<div class="col-md-7">
													<p *ngFor="let item of user.teams; index as i">
														<span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--warning kt-badge--wide">{{ item.name }}</span>&nbsp;
															<!-- {{ item.name }}<span>,&nbsp;</span> -->
													</p>
												</div>
											</mat-list-item>
										</mat-list>
									</div>
								</div>
                            </div>

                            <div class="col-md-6">
								<div class="row">
									<div class="col-md-12 profile-info-detail">
										<mat-list>
											<mat-list-item>
												<div class="col-md-5 profile-info">
													Phone
												</div>
												<div class="col-md-7">
													{{user.phoneNumber}}
												</div>
											</mat-list-item>
											<mat-divider></mat-divider>
											<mat-list-item>
												<div class="col-md-5 profile-info">
													State
												</div>
												<div class="col-md-7">
													{{user.address?.state}}
												</div>
											</mat-list-item>
											<mat-divider></mat-divider>
											<mat-list-item>
												<div class="col-md-5 profile-info">
													Street number
												</div>
												<div class="col-md-7">
													{{user.address?.streetNumber}}
												</div>
											</mat-list-item>
											<mat-divider></mat-divider>
											<mat-list-item><div class="col-md-5 profile-info">
												Street name
											</div>
											<div class="col-md-7">
												{{user.address?.streetName}}
											</div>
                                            </mat-list-item>
										</mat-list>
									</div>
                                </div>
                            </div>
					
                </div>
            <div class="kt-portlet__foot kt-portlet__foot--fit kt-portlet__no-border">
                <div class="kt-form__actions kt-form__actions--solid">
                    <div class="row text-right">
                        <div class="col-lg-12">
                            <button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial matTooltip="Cancel">
                                Cancel
                            </button>&nbsp;
                            <!-- <button type="button" mat-raised-button color="primary" (click)="editUser(user.id)" matTooltip="Edit">
                                Edit
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
