<kt-portlet [class]="'kt-portlet--height-fluid'">
	<kt-portlet-header [title]="'Invoices'" [class]="'kt-portlet__head--lg'">
		<ng-container ktPortletTools>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<div class="kt-form">
			<div class="kt-form__filtration">
				<div class="row align-items-center">
					<div class="col-md2 kt-margin-bottom-10-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input matInput placeholder="Search Invoices" #searchInput>
						</mat-form-field>
					</div>
				</div>
			</div>
		</div>

		<div class="mat-table__wrapper">
			<table mat-table class="mat-elevation-z8" #table [dataSource]="invoicesResult" matSort #sort1="matSort"
				matSortActive="date" matSortDirection="asc" matSortDisableClear multiTemplateDataRows>

				<!-- ID -->
				<ng-container matColumnDef="id">
					<th mat-header-cell *matHeaderCellDef mat-sort-header></th>
					<td mat-cell *matCellDef="let Invoice;let i = dataIndex;">
						<mat-icon *ngIf="!Invoice.triggerType == 'ADHOC'" matTooltip="Invoice Run of {{ Invoice.date | date: 'medium' }}">access_time</mat-icon> 
						<mat-icon *ngIf="Invoice.triggerType == 'ADHOC'" matTooltip="Issued by User {{ Invoice.customerName }} on {{ Invoice.date | date: 'medium' }}">face</mat-icon> 
					</td>
				</ng-container>

				<!-- Issue Date -->
				<ng-container matColumnDef="date">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
					<td mat-cell *matCellDef="let Invoice">{{ Invoice.date | date: 'mediumDate'}}</td>
				</ng-container>

				<!-- Type -->
				<ng-container matColumnDef="type">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
					<td mat-cell *matCellDef="let Invoice">{{ Invoice.type }}</td>
				</ng-container>

				<!-- Date -->
				<ng-container matColumnDef="reference">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>Reference</th>
					<td mat-cell *matCellDef="let Invoice">{{ Invoice.reference }}</td>
				</ng-container>

				<!-- Name -->
				<ng-container matColumnDef="billedTo">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>Billed To</th>
					<td mat-cell *matCellDef="let Invoice">
						<p *ngIf="!Invoice.billedTo == null">{{ Invoice.billedTo }}</p>	<p *ngIf="Invoice.billedTo == null">N/A</p>	
					</td>
				</ng-container>
				
				<!-- Name -->
				<ng-container matColumnDef="client">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>Client</th>
					<td mat-cell *matCellDef="let Invoice">{{ Invoice.customerName }}</td>
				</ng-container>

				<!-- Total -->
				<ng-container matColumnDef="total">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
					<td mat-cell *matCellDef="let Invoice">{{ Invoice.total | currency:'' }} </td>
				</ng-container>

				<!-- Action -->
				<ng-container matColumnDef="actions">
					<th mat-header-cell *matHeaderCellDef>Actions</th>
					<td mat-cell *matCellDef="let Invoice" class="Time-actions">
						<button (click)="viewInvoice(Invoice.id)" mat-icon-button color="primary" matTooltip="View Invoice">
							<mat-icon>visibility</mat-icon>
						</button>&nbsp;
						<!-- <button mat-icon-button color="warn" matTooltip="Delete Invoice" type="button"
							(click)="deleteInvoice(Invoice)">
							<mat-icon>delete</mat-icon>
						</button> -->
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
					[class.example-expanded-row]="expandedElement === row"
					(click)="expandedElement = expandedElement === row ? null : row"></tr>
			</table>
			<div class="mat-table__message" *ngIf="!invoiceshasItems">No records found!</div>
			<!-- <div class="mat-table__message" *ngIf="invoicesResult.isPreloadTextViewed$ | async">Please wait..
			</div> -->
		</div>

		<div class="mat-table__bottom">
			<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
			<mat-paginator [pageSize]="30" [pageSizeOptions]="[30, 60, 90]"
				[length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
		</div>

	</kt-portlet-body>
</kt-portlet>