.profile-info .mat-list {
	font-weight: 400;
	color: #48465b;
	font-size: 14px;
	.mat-list-item {
		font-size: 14px;
	}
}

.profile-info-detail .mat-list {
	color: #48465b;
	font-size: 14px;
	.mat-list-item {
		font-size: 14px;
	}
}

.profile-header .mat-card-title {
	margin: 0;
	padding: 0;
	font-size: 1.2rem;
	font-weight: 500;
	color: #48465b;
	padding-bottom: 1rem;
}
