@import '../../../../assets/sass/config';
$primaryColor: #5867dd;
.event-actions {
  height: 35px;
  display: block;
  margin: auto;
  background-color: $primaryColor;
  color: kt-brand-color(inverse);
  
}
.new-user:hover{
  background-color: darken($primaryColor, (20%));
}

.kt-footer {
    background: #e2e2e2;
    width: 100%;
}
.invoice-btn{
  padding: 5px;
    border-radius: 5px;
    width: 100%;
    text-align: left;
}