<kt-portlet [class]="'kt-portlet--tabs'">
	<kt-portlet-header [title]="'Client Records'" [class]="'kt-portlet__head--lg'">
		<ng-container ktPortletTools>
			<button class="new-user ml-5" [routerLink]="['/participant-record/participants/add']" mat-raised-button
				matTooltip=""><i class="la la-plus"></i> Add Client</button>
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<div class="kt-form">
			<div class="kt-form__filtration">
				<div class="row align-items-center">
					<div class="col-md-2 kt-margin-bottom-10-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input matInput placeholder="Search Participant" #searchInput placeholder="Search">
						</mat-form-field>
					</div>
				</div>
			</div>
		</div>

		<div class="mat-table__wrapper">
			<table mat-table class="mat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort"
				   matSortActive="NDIS" matSortDirection="asc" matSortDisableClear multiTemplateDataRows>

				<!-- ID -->
				<ng-container matColumnDef="NDIS">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>NDIS number</th>
					<td class="noBorder" mat-cell *matCellDef="let participant;">{{participant.ndisNumber}}</td>
				</ng-container>

				<ng-container matColumnDef="firstname">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
					<td mat-cell *matCellDef="let participant">
						<i class="fa fa-{{participant.gender | lowercase}}"></i> &nbsp; &nbsp;
						{{participant.firstName}}</td>
				</ng-container>
				
				<!-- Last Name -->
				<ng-container matColumnDef="lastname">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
					<td mat-cell *matCellDef="let participant">{{participant.lastName}}</td>
				</ng-container>

				<!-- Address -->
				<ng-container matColumnDef="address">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
					<td mat-cell *matCellDef="let participant">{{participant.address}} </td>
				</ng-container>

				<!-- Available Budget -->
				<ng-container matColumnDef="availableBudget">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>Available Budget</th>
					<td mat-cell *matCellDef="let participant">{{participant.availableBudget | currency}} </td>
				</ng-container>

				<!-- Review Date -->
				<ng-container matColumnDef="reviewDate">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>Review Date</th>
					<td mat-cell *matCellDef="let participant">{{participant.reviewDate | date:'mediumDate'}} </td>
				</ng-container>
				
				<!-- Action -->
				<ng-container matColumnDef="actions">
					<th mat-header-cell *matHeaderCellDef>Actions</th>
					<td mat-cell *matCellDef="let participant" class="participant-actions">
						<button (click)="viewParticipant(participant.id)" mat-icon-button color="primary"
								matTooltip="Client Details">
							<mat-icon>visibility</mat-icon>
						</button>&nbsp;
					</td>
				</ng-container>

				<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
				<ng-container matColumnDef="expandedDetail">
					<td mat-cell *matCellDef="let element" [attr.colspan]="displayedParticipantColumns.length">
						<div class="example-element-detail"
							 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
							<div class="example-element-description">

								<button mat-button class="participant-buttons" (click)="openApptDialog(element)">
									<i class="la la-plus"></i> Add
									Appointment
								</button>

								<button mat-button class="participant-buttons" (click)="addTimeEntry(element)"><i class="la la-plus"></i> Add Time Entry</button>

								<button mat-button class="participant-buttons" (click)="addNote(element)">
									<i class="la la-plus"></i> Add
									Note
								</button>
								<button mat-button class="participant-buttons" (click)="viewParticipant(element.id)"><i class="flaticon-avatar"></i> Client Details</button>
								<div class="example-element-description">
									<p *ngIf="element.preferredName">Preferred Name: {{element.preferredName}}</p>
									<p *ngIf="element.gender">Gender: {{element.gender}}</p>
									<p *ngIf="element.dob">Date of Birth: {{element.dob | date: "dd/MM/y"}}</p>
									<p *ngIf="element.addressline1">
										Address: {{element.addressline1}}
										{{element.addressline2}},
										{{element.postcode}},
										{{element.city}}, {{element.state}}, {{element.country}}
									</p>
									<p></p>
									<p></p>
									<p></p>
								</div>
								<!-- <span class="example-element-description-attribution"> -- Wikipedia </span> -->
							</div>
						</div>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedParticipantColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedParticipantColumns;" class="example-element-row"
					[class.example-expanded-row]="expandedElement === row"
					(click)="expandedElement = expandedElement === row ? null : row"></tr>
				<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row">
				</tr>
			</table>
			<div class="mat-table__message" *ngIf="!participanthasItems">No records found!</div>
		</div>

		<div class="mat-table__bottom">
			<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
			<mat-paginator [pageSize]="30" [pageSizeOptions]="[30, 60, 90]" [length]="dataSource.paginatorTotal$ | async"
				[showFirstLastButtons]="true"></mat-paginator>
		</div>
		</kt-portlet-body>

</kt-portlet>
