<kt-portlet [class]="'kt-portlet--height-fluid'">
	<kt-portlet-header [title]="'Agreements'" [class]="'kt-portlet__head--lg'">
		<ng-container ktPortletTools>
			<button (click)="addAgreement()" mat-raised-button color="primary" matTooltip="Create New Agreement"><i
					class="la la-plus"></i>Add Agreement</button>
		</ng-container>
	</kt-portlet-header>
	<!-- end::Header -->

	<!-- start::Body (attribute: ktPortletBody) -->
	<kt-portlet-body [class]="'kt-portlet__body--fit'">
			<div class="col-md-12">
				<div perfectScrollbar [ngStyle]="{'max-height': '100%', 'position': 'relative'}"
					class="mat-table__wrapper mat-table__wrapper--dashboard ">
				<mat-table class="mat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort"
					matSortActive="title" matSortDirection="asc" matSortDisableClear>

					<ng-container matColumnDef="title">
						<mat-header-cell class="email-cell" *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
						<mat-cell class="email-cell" *matCellDef="let agreement">{{agreement.title}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="note">
						<mat-header-cell *matHeaderCellDef mat-sort-header class="email-cell">Note</mat-header-cell>
						<mat-cell *matCellDef="let agreement" class="email-cell">{{agreement.notes}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="validToDate">
						<mat-header-cell *matHeaderCellDef class="email-cell" mat-sort-header>Valid To</mat-header-cell>
						<mat-cell class="email-cell" *matCellDef="let agreement">{{agreement.validToDate | date: 'mediumDate'}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="validFromDate">
						<mat-header-cell *matHeaderCellDef class="email-cell" mat-sort-header>Valid From</mat-header-cell>
						<mat-cell class="email-cell" *matCellDef="let agreement">{{agreement.validFromDate | date: 'mediumDate'}}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="signedDate">
						<mat-header-cell *matHeaderCellDef class="email-cell" mat-sort-header>Signed Date</mat-header-cell>
						<mat-cell class="email-cell" *matCellDef="let agreement">
							{{agreement.signedDate | date:'mediumDate'}}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="actions">
						<mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
						<mat-cell class="actions" *matCellDef="let agreement">
							<button mat-icon-button color="primary" matTooltip="Edit Agreement" (click)="editAgreement(agreement)">
								<mat-icon>create</mat-icon>
							</button>&nbsp;
							<button (click)="deleteAgreement(agreement)" mat-icon-button
								color="primary" matTooltip="Delete Note">
								<mat-icon>delete</mat-icon>
							</button>
						</mat-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

					<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
				</mat-table>

				<div class="mat-table__message" *ngIf="!agreementshasItems">No records found</div>
				</div>
			</div>

			<!-- end: BOTTOM -->
	</kt-portlet-body>
	<!-- end::Body -->
</kt-portlet>